
.div-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /*background-color: #F2F3D9;*/
}
.article-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#FFFFFF;
    text-align: center;
    border-radius: 4px;
    flex-basis: 280px;
    margin: 7px;
    height: 250px;
    padding: 30px;
    flex-shrink: 1;
    flex-grow: 0;
}
.article-container h5{
    font-family: Quicksand;
}
.article-container h3{
    font-family: Quicksand;
}
.article-container p{
    font-family: Roboto Condensed;
}
body{
    background-color: #F2F3D9;
    width: 100%;
}


